<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="maganacode.payvide">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dark">
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".PaymentsDateActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".PaymentsSearchActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:theme="@style/AppTheme.Dark">
            </meta-data>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
        </activity>
        <activity android:name=".GroupActivity">
        </activity>
        <activity android:name=".ProfileActivity">
        </activity>
        <activity android:name=".PaymentOptionsActivity">
        </activity>
        <activity android:name=".BillListActivity">
        </activity>
    </application>

</manifest>